<h4 class="text-2xl font-sans font-bold">
  {{ options.nome }} {{ options.cognome }}
</h4>
<div class="font-sans text-sm pb-5">
  <a href="mailto:{{ options.mail }}" class="text-red-500">{{
    options.mail
  }}</a>
  <p>{{ options.telefono }}</p>
</div>
