<h4 class="text-2xl font-sans font-bold">
  {{ options.nome_d }} {{ options.cognome_d }}
</h4>
<div class="font-sans text-sm pb-5">
  <a href="mailto:{{ options.mail_d }}" class="text-red-500">{{
    options.mail_d
  }}</a>
  <p>{{ options.telefono_d }}</p>
</div>
